/* The correct place for this commonBudLib.css file is at: app\www\books\css 
   and it is included in index.html.
   The copy in the following folder of each book is for off-line testing  
   only: app\www\books\theBook\www\css and it is included in each html
   page of the book.
*/

.leftAlignedText      { text-align: left;}
.rightAlignedText    { text-align: right;}
.centerAlignedText  { text-align: center; margin: 0 auto; display: block;}

.pageContainer,
.justifyAlignedText
{ 
  text-align: justify; display: block;
}

.centerAlignedImage
{
  margin: 6px auto;
  display: block;
} 

/* This style removes margin or gap from a html tag or element. */
.zeroSurroundSpace 
{
  margin:  0;
  padding: 0;
  border:  0;
  outline: 0;
}

h6 {font-size: 0.80em; font-weight: bold;}
h5 {font-size: 0.90em; font-weight: bold;}
h4 {font-size: 1.00em; font-weight: bold;}
h3 {font-size: 1.10em; font-weight: bold;}
h2 {font-size: 1.20em; font-weight: bold;}
h1 {font-size: 1.30em; font-weight: bold;}

p,
.defText,
.justifyAlignedText,
.defMarginPad 
{
  margin-top:  2px;
  margin-bottom: 2px;
}

.pageContainer 
{
  /* Need this margin-top to avoid page contents from overlapping with top menu bar.*/
  margin-top: 20px;
}


.shelfTitle
{
  text-align: left;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1.3em;
}

.pageTitle,
.bookTitle
{
  text-align:center;
  margin-bottom: 8px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.1em;
}

.paragraphTitleLeft,
.paragraphTitle
{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.0em;
}

.paragraphTitleLeft
{
  text-align: left;
}

.smallLeftBookTitle
{
  text-align: left;
  font-size: 0.8em;
}

p,
.defText,
.bookTitle,
.justifyAlignedText,
.shelfTopBottomMargin,
.zeroBorOutPad
{
  border:  0;
  outline: 0;
  padding: 0;
}


/* 
<p>
  The purpose of max-width and max-height is to make the image automatically  
  resizes according to the width and height of a screen (responsive UI). 
  The pre-condition is that the img html tag must be the child of a html tag 
  which is fluid, e.g: <div class="container-fluid"> (The container-fluid style
  is a CSS style of bootstrap). 
</p>
*/
img 
{
  max-width: 100%;
  max-height: 100%;
}

.singleBookIconSize
{
  width: 15px;
  height: 15px;
}

body,
.defBodyStyle,
.defText
{
  text-align: justify; 
  font-family: sans-serif;   
}


/*
Font Size Control:
In order to provide dynamic font size control feature, body tag must serve as the overall parent for all other tags and it is to set the default font size. Other tags must not set font-size in px and instead they should use "em" as the unit of their font-size. The em unit will take parent font size as reference. For example if the font size of body tag, our parent tag, is set to 12px and that of h3 tag is set to 3em, then the font size of h3 in px will be 36px (3 times 12). 
*/
body,
.defBodyStyle
{
  font-size: 18px;    
}


